@use "../abstracts" as *;

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
  height: 100vh;
  background-color: lightgray;
  background-image: url("../assets/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  line-height: 1.5;
}

body.dark {
  background-image: url("../assets/images/bg-dark.jpg");
}
