@use "../abstracts" as *;

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
  height: 100vh;
  background-color: inherit;
  background-image: inherit;
  // background-color: $color-gray-light;
  // background-image: url($url-background-light-image);
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  line-height: 1.5;
}

// body.dark {
//   // background-color: $color-gray-dark;
//   // background-image: url($url-background-dark-image);
// }
