//  --------------------------------------------------------------------------------
//  Contains application-wide typography properties
//  --------------------------------------------------------------------------------

@use "../abstracts" as *;

:root {
  --font-content-size: 1.8rem;
  --font-function-size: 1.5rem;
}

@media (max-width: $breakpoint) {
  :root {
    --font-content-size: 1.4rem;
    --font-function-size: 1.2rem;
  }
}
