//  --------------------------------------------------------------------------------
//  Contains style that are specific for home page
//  --------------------------------------------------------------------------------
@use "../abstracts/variables" as *;

form {
  max-width: 450px;
  margin: 3rem auto 1rem;
  padding: 0 3rem;

  input.searchbar {
    position: relative;
    top: -50px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: none;
    color: $color-brown-base;
    font-size: 1.5rem;
    font-family: $font-function;
    font-weight: bold;

    &::placeholder {
      color: rgba($color-brown-base, 0.5);
    }

    &:focus {
      outline: 2px solid $color-yellow-base;

      &::placeholder {
        visibility: hidden;
      }
    }
  }
}

fieldset {
  position: relative;
  top: -40px;
  margin: 0 auto;
  width: 80%;
  border: none;

  label {
    margin-right: 1.5rem;
    color: $color-white-base;
    font-size: 1.5rem;
    font-family: $font-function;
    font-weight: bold;

    &:last-of-type {
      margin-right: 0;
    }

    &:has(> input[type="radio"]:checked) {
      color: $color-yellow-base;
    }
  }

  input[type="radio"] {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
    accent-color: $color-yellow-base;

    &:first-of-type {
      margin-left: 3px;
    }
  }
}

@media (max-width: 510px) {
  form::after {
    clear: both;
    content: "";
    display: table;
  }
  fieldset {
    float: left;
    padding-left: 0px;
  }
  label {
    display: block;
  }
}
