//  --------------------------------------------------------------------------------
//  Contains style that are specific for home page
//  --------------------------------------------------------------------------------
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

form {
  max-width: 450px;
  margin: 3rem auto 1rem;
  padding: 0 3rem;

  input.searchbar {
    position: relative;
    top: -50px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: none;
    color: $color-brown-base;
    font-size: var(--font-function-size);
    font-family: $font-function;
    font-weight: bold;

    &::placeholder {
      color: #{"rgba($color-brown-base, 0.5)"};
    }

    &:focus {
      outline: 2px solid $color-yellow-base;

      &::placeholder {
        visibility: hidden;
      }
    }
  }
}

fieldset {
  display: flex;
  position: relative;
  top: -40px;
  margin: 0 auto;
  max-width: 75%;
  border: none;
}

.radio-wrapper {
  display: flex;
  margin-right: 1.8rem;

  &:last-of-type {
    margin-right: 0;
  }

  input[type="radio"] {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    align-self: center;
    accent-color: $color-yellow-base;

    &:first-of-type {
      margin-left: 3px;
    }
    &:checked + label {
      color: $color-yellow-base;
    }
  }

  label {
    color: $color-white-base;
    font-size: var(--font-function-size);
    font-family: $font-function;
    font-weight: bold;
  }
}

@media (max-width: $breakpoint) {
  form {
    max-height: 90px;

    &::after {
      clear: both;
      content: "";
      display: table;
    }

    input.searchbar {
      height: 30px;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  fieldset {
    display: block;
    float: left;
    padding-left: 0px;

    .radio-wrapper {
      input[type="radio"] {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
