@use "../abstracts/variables" as *;

.detailed-card-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3rem 1rem;
}

.detailed-card {
  margin-bottom: 1.5rem;
  padding: 2.5rem;
  border-radius: 10px;
  background-color: rgba($color-yellow-base, 0.8);
  box-shadow: $box-shadow-yellow;
  color: $color-brown-base;
  font-family: $font-content;
  font-weight: bold;
  text-align: left;
  line-height: 2.5;

  h2 {
    font-size: 1.8rem;
    margin: 0;

    span {
      font-weight: 100;
    }
  }

  a {
    display: block;
    color: $color-brown-base;
    font-size: 1.8rem;
    text-decoration: none;

    span {
      font-weight: 100;
    }

    &:hover {
      color: rgb(92, 66, 17);

      span {
        color: $color-brown-base;
        // cursor: default;
      }
    }

    &:active {
      color: rgb(134, 92, 14);
    }
  }

  a.no-link {
    color: $color-brown-base;
    text-decoration: none;

    &:hover,
    &:active {
      cursor: default;
    }
  }
}
