@use "../abstracts" as *;

.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-family: $font-content;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-input {
  display: none;

  &:checked + .toggle-button {
    // background-color: rgb(255, 241, 117);
    background-color: $color-white-base;
  }

  &:checked + .toggle-button::before {
    left: 4px;
    content: "light";
    background-color: $color-yellow-base;
    color: $color-white-base;
  }
}

.toggle-button {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 90px;
  box-sizing: border-box;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: $color-gray-light;
  border-radius: 5px;
  color: $color-white-base;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  cursor: pointer;
  transition: background-color 0.5s linear;

  &::before {
    display: inline-block;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 40px;
    padding: 0 3px;
    background-color: $color-gray-dark;
    border-radius: 3px;
    content: "dark";
    color: $color-brown-base;
    transition: all 0.5s linear;
  }
}
