@use "../abstracts/variables" as *;
@use "../themes/themes" as *;

.result-cards {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 3rem;
  color: white;

  h3.no-match {
    text-align: center;
    color: $color-white-base;
    font-family: $font-function;
    font-weight: bold;
  }
}

.single-card {
  margin-bottom: 1.5rem;
  padding: 2.5rem;
  border-radius: 10px;
  background-color: var(--color-result-card-bg);
  box-shadow: var(--box-shadow-result-card);
  color: var(--color-result-card-txt);
  font-size: 1.2rem;
  font-family: $font-content;
  font-weight: bold;
  text-align: left;
  transition: transform 0.2s ease-in-out;

  h2 {
    display: inline-block;
    margin: 0;

    span {
      margin: 0 2rem;
    }
  }

  &:hover {
    z-index: 1;
    box-shadow: var(--box-shadow-result-card-hover);
    transform: scale(1.03);
  }

  &:active {
    background-color: var(--color-result-card-bg-active);
  }
}
